/* *{
    background-color: #e7daee;
} */

.manufacFormdiv{
    /* border: 1px solid red; */
    width: 50rem;
    margin: auto;
}
.innerForm{
    gap: 40px;
    display: flex;
    flex-flow: row wrap;
}
.innerForm input{
    width: 20rem;
    height: 2rem;
    border-radius: 5px;
}
.manufacsubmit{
    width: 10rem !important;
    height: 2.5rem !important;
    margin-top: 1.2rem;
    font-size: 16px;
    cursor: pointer;
}
.appendtable{
    /* border: 1px solid black; */
    width: 55rem;
    height: 25rem;
    margin: auto;
    margin-top: 2rem;
}
.appendtable table{
    width: 55rem;
    border-collapse: collapse;
    /* margin: auto; */
}
.appendtable tr th{
    border: 1px solid black;
    /* width: 10rem; */
}
.appendtable tr td{
    border: 1px solid black;
    /* width: 10rem; */
    text-align: center;
}

.filter_div{
    /* border: 1px solid red; */
    display: flex;
    justify-content: space-around;
}